*,
html {
	padding: 0;
	margin: 0;
}
#gameBoard {
	width: 30em;
	margin: 0 auto;
	border: solid;
	height: 25em;
	position: relative;
	top: 12em;
	background-color: lightgray;
	left: 11em;
}
/* Player square -----------------------------------------| */
#playerInterface {
	display: grid;
	grid-template-columns: 80% 20%;
	grid-template-rows: 1fr 1fr;
	border: solid;
	position: absolute;
	top: 12.1em;
	left: 12em;
	width: 10em;
	height: 150px;
}

#playerInterface > div {
	font-size: x-large;
}
#playerInterface > div:first-child {
	border-bottom: solid;
}
.player {
	font-size: x-large;
}
#playerInterface > div:nth-child(even) {
	background-color: black;
}

/* -----------------------------------------| */

h1 {
	text-align: center;
	border-bottom: solid;
}

#ghost {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 90%;
	height: 80%;
	top: 20px;
	left: 23px;
	grid-gap: 1px;
}

/* boxes style, excludes box letter style */
/* #ghost > div {
	color: black;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	background-color: whitesmoke;
} */
/*  box letter styling */
.letterO {
	color: black;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	background-color: whitesmoke;
}

.letterX {
	color: black;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	background-color: whitesmoke;
}
